@model SlutProjekt2k19.Models.Profile

@{
    ViewBag.Title = "Profile";
    var profile = "";
    if (@Model.Id != null)
    {
        profile = @Model.Id;
    }
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                @if (@Model.Image != null) {
                    <img src="@Url.Content(@Model.Image)" alt="Profile_Image" class="card-img-top">
                }
                else {
                    <img src="~/Images/Test.jpg" alt="Profile_Image" class="card-img-top">
                }
                <div class="card-body textcolor2">
                    <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
                    <p class="card-text">@Html.DisplayNameFor(model => model.Age): @Html.DisplayFor(model => model.Age)</p>
                    <p class="card-text">@Html.DisplayNameFor(model => model.Gender): @Html.DisplayFor(model => model.Gender)</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <hr/>
            @if (@Model.Id != null) {
                <p>
                    @Html.ActionLink("Edit", "Edit", new {
                        id = profile
                    }) |
                    @Html.ActionLink("Feed", "Feed", "Profiles") |
                    @Html.ActionLink("Friend Invites", "PendingRequests", "FriendRequests") |
                    @Html.ActionLink("Contactlist", "Index", "Contactlists")
                </p>
                <p>
                    @Html.ActionLink("Add/Change Profile Picture", "AddImageView", "Images")
                </p>
            }

        </div>
        <div class="col-md-8">
            <h3>Bio</h3>
            <p>@Html.DisplayFor(model => model.Bio)</p>

        </div>
    </div>
</div>