@model SlutProjekt2k19.Models.Profile

@{
    ViewBag.Title = "Profile";
    var profile = "";
    if (@Model.Id != null)
    {
        profile = @Model.Id;
    }
}

<h2>Profile</h2>



<table class="table textcolor">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th>
            <a>Options</a>
        </th>
    </tr>

    <tr class="textcolor">
        <td>
            @if (@Model.Image != null) {
                <img src="@Url.Content(@Model.Image)" style="height: 200px; width: 200px; border-radius: 50%;" alt="Profile_Image">
            }
            else {
                <img src="~/Images/Test.jpg" style="height: 200px; width: 200px; border-radius: 50%;" alt="Profile_Image">
            }
        </td>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.Age)
        </td>
        <td>
            @Html.DisplayFor(model => model.Gender)
        </td>
        <td>
            @Html.DisplayFor(model => model.Bio)
        </td>
        @if (@Model.Id != null) {
            <td>
                @Html.ActionLink("Edit", "Edit", new {
                    id = profile
                }) |
                @Html.ActionLink("Add/Change Profile Picture", "AddImageView", "Images") |
                @Html.ActionLink("Feed", "Feed", "Profiles") |
                @Html.ActionLink("Friend Invites", "PendingRequests", "FriendRequests") |
                @Html.ActionLink("Contactlist", "Index", "Contactlists")
            </td>
        }
    </tr>
</table>