@using SlutProjekt2k19.Models
@using SlutProjekt2k19.Controllers
@Model UserCredentialsIndexViewModel

<table>
    @foreach (var UserCredentials in Model.userLogins)
    {
        <tr>
            <td>@UserCredentials.UserName</td>
            <td>@UserCredentials.Password</td>
        </tr>
    }

</table>
<hr />
@Html.Partial("AddUsersForm", new UserCredentials())
<hr />
<label>"Create Profile"</label>
@*<button type="button" onclick = "window.location.href='ProfileIndex'">Confirm</button>*@
@*<input type="button" value="Open" onclick="window.open('@Html.ActionLink("OpenProfileIndex", "ProfileController")')" />*@

<li><a href="@Url.Action("ProfileIndex", "")">Main Page</a></li>

<li>@Html.ActionLink("ProfileIndex", "ProfileIndex", "UserCredentials")</li>
